html,
body {
    text-align: center;
    background-color: #d6d6d6;
}

h1 {
    margin-top: 50px;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: purple;
}

.overlay {
    display: flex;
    justify-content: space-evenly;
	padding: 30px;
	background: #009578;
	border-radius: 5px;
    
}

.section {
    background-color: red;
    width: 150%;
}

.task-input {
    background-color: yellow;
}

.task {
    background-color: purple;
    margin: 20px;
}

.task-button {
    background-color: green;
}

.last-edited-task {
    color: chartreuse;
    background-color: chocolate;
}

ul {
    list-style: none;
}

